.maindash{
    display: flex-end;
    flex-direction: column;
    justify-content:space-evenly;
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    .maindash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .maindash{
        align-items: center;
    }
}